/*html {*/
    /*cursor: none;*/
/*}*/

body {
    background-color: black;
    margin-top: 24px;
    margin-left: 24px;
}

#player-id {
    font-family: 'Arial';
    font-size: 20px;
    /*text-align: center;*/
    color: #fff;
}
